[Unit]
Description=Run BMS Dead-Man Switch every 15 min

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true
Unit=bms-deadman.service

[Install]
WantedBy=timers.target
